.pagination-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1em;
    align-items: center;
    margin-bottom: 2em;
}

button {
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #ccc;
    background-color: #f9f9f9;
    margin: 0px 5px;
}

@media screen and (min-width: 320px) and (max-width: 1023px){
    .pagination-container {
        justify-content: center;
    }
}