.App {
  text-align: center;
}

* {
  margin: 0px;
  color: #222222;
}

body {
  margin: 1% 10%;
}

nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar-img {
  width: 160px;
}

.App {
  text-align: center;
}